@import 'variables';
@import 'form';
@import 'buttons';
@import 'header';
@import 'common';
@import 'flash';
@import 'board';

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  font-size: 1em;
  color: $text-base-color;
  font-family: Avenir;
}

.container {
  width: 100%;
  padding: 0px 26px 20px;
}

h2 {
  font-size: 26px;
  font-weight: 800;
  margin: 33px 0;
}

a {
  text-decoration: none;
  color: $text-base-color;

  &:hover {
    opacity: 0.7;
  }
}
