@import './variables';

input {
  &.text {
    width: 100%;
    margin: 7px 0 33px;
    background-color: $basic-bg-color;
    border-radius: 10px;
    padding: 10px;
    border: none;

  &.pass {
    margin-bottom: 16px;
  }
  }
}

label {
  font-size: 18px;
  color: $text-base-color;
}

textarea {
  width: 100%;
  margin: 8px 0;
  padding: 8px 8px;
  min-height: 210px;
  resize: none;
  border: none;
  background-color: $basic-bg-color;
  border-radius: 10px;
}

